# AMO API credentials from https://addons.mozilla.org/developers/addon/api/key/
# JWT issuer, e.g. user:12345:67
WEB_EXT_API_KEY=
# JWT secret
WEB_EXT_API_SECRET=

# Chrome Web Store
# Setup: https://github.com/fregante/chrome-webstore-upload-keys
# Publisher ID: Chrome Web Store Developer Dashboard -> Publisher -> Settings
CHROME_PUBLISHER_ID=
CHROME_EXTENSION_ID=
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=
